* {
    margin: 0;
    padding: 0;
    
}
/*header wrapper */

.header-wrapper{
    background-color: #1A526A; 
    width: 100%;
    text-align: center;
    padding: 15px 0 ;

}
.header-wrapper h1{
	color: #fff;
}


/*top section wrapper */
.top-section-wrapper{
	width: 100%;
	height: 500px;
	background-image: url("banner-puppies.jpg");
	background-size: cover;
}
/*main content */
/* Container for the three middle cards */

.first-main-wrapper {
    display: flex;
    justify-content: center;
    gap: 2%;                  
    padding: 40px 10%;        
   
}


.first-main-wrapper > div {
    width: 32%;               
    aspect-ratio: 1 / 1;      
    overflow: hidden;
}
.section-title{
	margin: 20px 0 30px 0;
	text-align: center;
}
.item-two{
	background-color: #f05468; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: 500;
}
/* THE BOTTOM ROW 2 ITEMS */
.second-main-wrapper {
    display: flex;
    justify-content: center;
    gap: 2%;                  
    padding: 0 10% 40px 10%;  
    
}

/* Give both bottom items an exact percentage width */
.second-main-wrapper > div {
    width: 49%;               
    height: 380px;            
    overflow: hidden;
}



.first-main-wrapper img,
.second-main-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*fotter style  */
.footer-wrapper {
    background-color: #1e5f74;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
}

.footer-wrapper p {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
}